@{
    ViewData["Title"] = "Studium";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <li>Javascript</li>
    <li>Python</li>
    <li>Java</li>
    <li>C</li>
</ul>
<a href="https://www.uni-augsburg.de"><b>Meine Uni</b></a>

<p>Use this page to detail your site's privacy policy.</p>
